Figures/pop_by_inun_change_low_boxen.png
Figures/pop_by_inun_chang_high_boxen.png
Figures/pop_by_inun_change_high_boxen.png
Figures/pop_by_inun_change_high_scatter.png
Figures/pop_by_inun_change_low_scatter.png
Inputs/cb_2019_22_bg_500k.zip
Inputs/cb_2023_us_county_500k.zip
Inputs/Census_water/tl_2024_22005_areawater.zip
Inputs/Census_water/tl_2024_22005_linearwater.zip
Inputs/Census_water/tl_2024_22007_areawater.zip
Inputs/Census_water/tl_2024_22007_linearwater.zip
/Inputs/Census_water
*.tif
Inputs/inundation-depth-high-02-withplan.csv
Inputs/inundation-depth-high-12-withoutplan.csv
Inputs/inundation-depth-high-52-withoutplan.csv
Inputs/inundation-depth-high-52-withplan.csv
Inputs/inundation-depth-low-02-withplan.csv
Inputs/inundation-depth-low-12-withoutplan.csv
Inputs/inundation-depth-low-52-withoutplan.csv
Inputs/inundation-depth-low-52-withplan.csv
Inputs/levees-geojson.zip
Inputs/Louisiana Coastal Zone Shapefile.zip
Inputs/model-geometries.gpkg
Inputs/population-change-block-group-decadal-all.csv
Outputs/Inundation_by_population_highSLR.pkl
Outputs/Inundation_by_population_lowSLR.pkl
Outputs/land_points.gpkg
Outputs/MTG.gpkg
Outputs/ss_change_high_withoutplan.pkl
Outputs/ss_change_high_withplan.pkl
Outputs/ss_change_low_withoutplan.pkl
Outputs/ss_change_low_withplan.pkl
Outputs/ssp1_eyear12.pkl
Outputs/ssp1_eyear22.pkl
Outputs/ssp1_eyear32.pkl
Outputs/ssp1_eyear42.pkl
Outputs/ssp1_eyear52.pkl
Outputs/ssp2_eyear12.pkl
Outputs/ssp2_eyear22.pkl
Outputs/ssp2_eyear32.pkl
*.pkl
